<a!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>My subscription page</title>
    <link rel="stylesheet" href="<%= app_url %>/mycss.css" />
    <style>
        div.center {
            width: 100%;
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="Polaris-Box" style="--pc-box-background:var(--p-color-bg-subdued);--pc-box-overflow-x:hidden;--pc-box-overflow-y:hidden;--pc-box-padding-block-end-xs:var(--p-space-4);--pc-box-padding-block-end-sm:var(--p-space-5);--pc-box-padding-block-start-xs:var(--p-space-4);--pc-box-padding-block-start-sm:var(--p-space-5);--pc-box-padding-inline-start-xs:var(--p-space-4);--pc-box-padding-inline-start-sm:var(--p-space-5);--pc-box-padding-inline-end-xs:var(--p-space-4);--pc-box-padding-inline-end-sm:var(--p-space-5);--pc-box-shadow:var(--p-shadow-md)">
        <h1 class="Polaris-Text--root Polaris-Text--bodyMd">Your customer data with subscriptions</h1>
      </div>

      
    <div class="center">
        <pre>
            <%= JSON.stringify(json, null, 4) %>
        </pre>
    </div>
</body>

</html>