<!-- 
  Adding subscription selection to 'cart/add' from provided by each theme.
  This theme app extension is supposed to be add to the product detail page.
  See https://shopify.dev/docs/apps/selling-strategies/subscriptions/modeling
  See https://shopify.dev/docs/api/ajax/reference/cart
  See https://shopify.dev/docs/themes/pricing-payments/purchase-options/support-purchase-options
  -->
<script>
  const subscription = document.createElement('div');
  subscription.innerHTML = `
  <fieldset id="my-subscription">
  <legend>Subscription Purchase</legend>
  {% for selling_plan_group in product.selling_plan_groups %}
    {% for selling_plan in selling_plan_group.selling_plans %}
      <div>
        <input
          type="radio"
          id="{{ selling_plan.id }}"
          name="purchase_option"
          value="{{ selling_plan.id }}"
          >
        <label for="{{ selling_plan.id }}">
          {{ selling_plan.name }}
        </label>
      </div>
    {% endfor %}
  {% endfor %}
  </fieldset>
  `;

  // Checking if this product has selling plans or not.
  let append = false;
  if (subscription.querySelectorAll('#my-subscription div').length > 0) append = true;

  // If the product has selling plans, append the subscription selection.
  if (append) {
    const forms = document.querySelectorAll('form');
    forms.forEach((form) => {
      if (form.action.indexOf('/cart/add') > -1) {
        // Adding the subscription options to the existing form.
        form.appendChild(subscription);

        // Getting or creating a selling plan option hidden parameter in the form.
        const inputs = form.querySelectorAll("input[name='selling_plan']");
        let input = null;
        if (inputs.length > 0) {
         input = inputs[0];
        } else {
         input = document.createElement('input');
         input.name = 'selling_plan';
         input.type = 'hidden';
         form.appendChild(input);
        }

        // Adding the onClick event to set the selected plan to the hidden tag above.
        const radios = subscription.querySelectorAll("#my-subscription input[type='radio']");
        radios.forEach((radio) => {
        radio.onClick = ((obj) => {
          input.value = obj.value;
        })(radio);
       });
      }
    });
  }
  
</script>

{% schema %}
  {
    "name": "My Subscription Contract",
    "target": "section",
    "stylesheet": "my-theme.css",
    "settings": []
  }
{% endschema %}